name: Scala Docker Build and Push

on:
  push:
    branches:
      - main


jobs:
  docker:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        project:
          - scala-auth-api

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build and push Docker image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
      run: |
        cd ${{ matrix.project }}
        docker build -t $ECR_REGISTRY/${{ matrix.project }}:${{ github.sha }} .
        docker push $ECR_REGISTRY/${{ matrix.project }}:${{ github.sha }}

    - name: Download Terraform
      run: |
        curl -LO "https://releases.hashicorp.com/terraform/1.0.9/terraform_1.0.9_linux_amd64.zip"
        
    - name: Verify the downloaded file integrity
      run: |
        echo "c27a5f8e0d764b8d02c8d3cb0887b8bc8d44666c1a000a0fe36bde6fda0e9c7b  terraform_1.0.9_linux_amd64.zip" | sha256sum --check
        
    - name: Unzip Terraform
      run: |
        unzip terraform_1.0.9_linux_amd64.zip
        chmod +x terraform
        sudo mv terraform /usr/local/bin/

    - name: Terraform Init
      run: terraform init

    - name: Terraform Apply
      run: terraform apply -auto-approve -var-file=testing.tfvars